@media print {
  body {
    padding: 0 !important;
    height: auto;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  section, main, header, article {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  @page {
    size: A4;
    margin: 14mm;
  }
}
